<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="publicKey" value="EIAI7V5IUDHCXERPFZTSRWOFOYT2IZFIZJQDOF5MJ6IOIZD" />
    <add key="privateKey" value="SQWETNXWG7YTTQNRQSN7FJC" />
    <add key="connectionString" value="mongodb://localhost:27017" />
    <add key="dbName" value="Wallet_003" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
