<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="publicKey" value="EQUAU2FNGRT24LSTSMIKZCQ5SBQ6PDI3WDCVGEKHYVBVB6A" />
    <add key="privateKey" value="XYANQVFKPUK3U5W2Y2A7ZJD" />
    <add key="connectionString" value="mongodb://localhost:27017" />
    <add key="dbName" value="Wallet_002" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
